table inet filter {
    chain u-before-logging-input {
        ct state new limit rate 3/minute burst 10 packets counter log prefix "[UNITE INPUT AUDIT] "
    }
    chain u-before-logging-output {
        ct state new limit rate 3/minute burst 10 packets counter log prefix "[UNITE OUTPUT AUDIT] "
    }
    chain u-before-logging-forward {
        ct state new limit rate 3/minute burst 10 packets counter log prefix "[UNITE FORWARD AUDIT] "
    }

    chain u-after-logging-input {
        limit rate 3/minute burst 10 packets counter log prefix "[UNITE INPUT BLOCK] "
    }
    chain u-after-logging-output {
        limit rate 3/minute burst 10 packets counter log prefix "[UNITE OUTPUT ALLOW] "
    }
    chain u-after-logging-forward {
        limit rate 3/minute burst 10 packets counter log prefix "[UNITE FORWARD BLOCK] "
    }

    chain u-logging-deny {
        ct state invalid limit rate 3/minute burst 10 packets counter log prefix "[UNITE AUDIT INVALID] "
        limit rate 3/minute burst 10 packets counter log prefix "[UNITE BLOCK] "
    }

    chain u-logging-allow {
        limit rate 3/minute burst 10 packets counter log prefix "[UNITE ALLOW] "
    }
}
