table ip filter {
    chain x-before-logging-input {

    }
    chain x-before-logging-output {

    }
    chain x-before-logging-forward {

    }

    chain x-after-logging-input {
    
    }
    chain x-after-logging-output {

    }
    chain x-after-logging-forward {
    
    }

    chain x-logging-deny {
    
    
    }

    chain x-logging-allow {
    
    }

    chain x-user-limit {

        counter reject
    }
}
