table ip filter {
    chain x-before-logging-input {

    }
    chain x-before-logging-output {

    }
    chain x-before-logging-forward {

    }

    chain x-after-logging-input {
        limit rate 3/minute burst 10 packets counter log prefix "[NFT BLOCK] "
    }
    chain x-after-logging-output {

    }
    chain x-after-logging-forward {
        limit rate 3/minute burst 10 packets counter log prefix "[NFT BLOCK] "
    }

    chain x-logging-deny {
        ct state invalid limit rate 3/minute burst 10 packets counter return
        limit rate 3/minute burst 10 packets counter log prefix "[NFT BLOCK] "
    }

    chain x-logging-allow {
        limit rate 3/minute burst 10 packets counter log prefix "[NFT ALLOW] "
    }

    chain x-user-limit {
        limit rate 3/minute counter log prefix "[NFT LIMIT BLOCK] " 
        counter reject
    }
}
