# Host Chain/Rules
table ip filter {
    chain u-user-input {
        # Allow SSH on all interfaces
        meta l4proto tcp tcp dport ssh accept
    }

    chain u-user-forward {
    }

    chain u-user-output {
    }

    chain u-user-logging-input {
    }

    chain u-user-logging-output {
    }

    chain u-user-logging-forward {
    }
}
